body {
    font-family: sans-serif;
}

button {
    margin: 0 auto;
    display: block;
    color: white;
    background-color: green;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
}